{block content}
	
	<div class="page-heading">
		<h1>{$actualPage->getTitle()}</h1>

		{include ../tabs.latte active => 'news'}
	</div>
	
	<br />
	<div class="buttonWrap">
	<a class="btn btn-primary ajax" n:href="updateActuality idPage => $actualPage->getId()">{_'Add actuality'}</a>
	</div>

<br />

<div class="well">
	{control newsGrid}
</div>
	
{/block}
